---
layout: default
refactor: true
---

{% include lang.html %}

<article class="px-1">
  <h1 class="dynamic-title">About Me</h1>
  <div class="content">
    <p>
      Hiya, I'm Sirish Visweswar, a grad student pursuing MS CS at NYU. I'm
      working as a Computational Neuroscience Researcher at the Neuroinformatics
      Lab under Prof. Erdem Varol. I have always been explorative and am always
      looking for opportunities to grow and learn more. My interests lie in the
      intersection of deep learning, computer vision and neuroscience, but I
      have also dabbled in NLP, RL and Dev.
    </p>
  </div>
</article>

<div id="experience-timeline" class="pl-xl-3 mt-5">
  <h2 class="dynamic-title mb-4">Experience Timeline</h2>

  <div id="archives">
    <time class="year lead d-block">2025</time>
    <ul class="list-unstyled">
      <li>
        <span class="date day">01</span>
        <span class="date month small text-muted ms-1">/ Sep</span>
        <a href="javascript:void(0)"
          >Started as a Course Assistant for Computer Vision</a
        >
      </li>
      <li>
        <span class="date day">01</span>
        <span class="date month small text-muted ms-1">/ Jun</span>
        <a href="javascript:void(0)"
          >Joined the Neuroinformatics Lab at NYU as a Computational Neuroscience Researcher</a
        >
      </li>
    </ul>

    <time class="year lead d-block">2024</time>
    <ul class="list-unstyled">
      <li>
        <span class="date day">01</span>
        <span class="date month small text-muted ms-1">/ Sep</span>
        <a href="javascript:void(0)"
          >Started MS CS at NYU Tandon School of Engineering</a
        >
      </li>
      <li>
        <span class="date day">02</span>
        <span class="date month small text-muted ms-1">/ Aug</span>
        <a href="javascript:void(0)"
          >Graduated from BITS Hyderabad with a B.E. Electronics and
          Communication Engineering</a
        >
      </li>
    </ul>
  </div>
</div>
